@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* shadcn theme variables */
    background-color: #f2f2f2;
    background-image: radial-gradient(#d7d7d7 0.9px, #f0f0f0 0.9px);
    background-size: 18px 18px;
  }

  .dark {
    /* shadcn dark theme variables */
  }

  * {}

  html,
  body {
    height: 100%;
    overflow: hidden;
  }

  body {
    background-color: #f2f2f2;
    background-image: radial-gradient(#d7d7d7 0.9px, #f0f0f0 0.9px);
    background-size: 18px 18px;
    @apply text-foreground;
  }


  #root {
    height: 100%;
    overflow: auto;
  }

  .bg-popover {
    background-color: transparent !important;
  }
}

/* Mobile desktop-only message */
@media (max-width: 599px) {
  .desktop-only {
    display: none !important;
  }

  .mobile-message {
    display: flex !important;
  }
}

@media (min-width: 600px) {
  .mobile-message {
    display: none !important;
  }
}